@{
    ViewData["Title"] = "Analytics";
}

@model Gaming.Quiz.Admin.Models.AnalyticsModel

<form id="AnalyticsForm" action="@String.Concat(ViewBag.BasePath, "Analytics")" method="post">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Analytics Dashboard</h4>
                </div>
            </div>

            @await Component.InvokeAsync("Message", new { component = ViewBag?.MessageType, message = ViewBag?.MessageText })

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper form-inline" role="grid">

                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Asset</th>
                                            <th class="text-center">Input</th>
                                            <th class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">Date Range (YYYY-MM-DD)</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="fromdate" placeholder="*From (YYYY-MM-DD)" class="form-control" />
                                                <input type="text" asp-for="todate" placeholder="*To (YYYY-MM-DD)" class="form-control" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info " name="process" value="getanalytics">Process</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

            @{
                if (Model.Analytics != null)
                {
                    if (Model.Analytics.OverallStats != null && Model.Analytics.OverallStats.Count > 0)
                    {
                        <h2>Overall Analytics</h2>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer">
                            <thead>
                                <tr>
                                    <th class="text-center">From-Date</th>
                                    <th class="text-center">To-Date</th>
                                    <th class="text-center">Total Users</th>
                                    <th class="text-center">Total Attempts</th>
                                    <th class="text-center">Incomplete Attempts</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Model.Analytics.OverallStats)
                                {
                                    <tr>
                                        <td class="text-center">@row.FromDate</td>
                                        <td class="text-center">@row.ToDate</td>
                                        <td class="text-center">@row.Total_Registrants</td>
                                        <td class="text-center">@row.Attempts_Played</td>
                                        <td class="text-center">@row.Incomplete_Attempts</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                    if (Model.Analytics.UserStats != null && Model.Analytics.UserStats.Count > 0)
                    {
                        <h2>User Analytics</h2>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer">
                            <thead>
                                <tr>
                                    <th class="text-center">UserId</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">EmailId</th>
                                    <th class="text-center">RegiterDate</th>
                                    <th class="text-center">Played Games</th>
                                    <th class="text-center">Points Earned</th>
                                    <th class="text-center">Qts Attempts</th>
                                    <th class="text-center">Correct Answers</th>
                                    <th class="text-center">Longest Streak</th>
                                    <th class="text-center">Streak Pts</th>
                                    <th class="text-center">Time Bonus Pts</th>
                                    <th class="text-center">Fastest Quiz Time</th>
                                    <th class="text-center">Month Highest Rank</th>
                                    <th class="text-center">Gameday Highest Rank</th>
                                    <th class="text-center">Month Rank</th>
                                    <th class="text-center">Month</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Model.Analytics.UserStats)
                                {
                                    <tr>
                                        <td class="text-center">@row.UserId</td>
                                        <td class="text-center">@row.Name</td>
                                        <td class="text-center">@row.EmailId</td>
                                        <td class="text-center">@row.RegisterDate</td>
                                        <td class="text-center">@row.PlayedGames</td>
                                        <td class="text-center">@row.Total_Points</td>
                                        <td class="text-center">@row.Total_Qes_Attempted</td>
                                        <td class="text-center">@row.Correct_Answers</td>
                                        <td class="text-center">@row.Longest_Streak</td>
                                        <td class="text-center">@row.Streak_Points</td>
                                        <td class="text-center">@row.Time_Bonus_Points</td>
                                        <td class="text-center">@row.Fastest_Time_Complete</td>
                                        <td class="text-center">@row.Monthly_Highest_Rank</td>
                                        <td class="text-center">@row.Daily_Highest_Rank</td>
                                        <td class="text-center">@row.Month_Rank</td>
                                        <td class="text-center">@row.Month</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                }
                if (Model.QPLAnalytics != null)
                {
                    if (Model.QPLAnalytics.OverallQPLStats != null && Model.QPLAnalytics.OverallQPLStats.Count > 0)
                    {
                        <h2>QPL Overall Analytics</h2>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer">
                            <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">GamedayId</th>
                                    <th class="text-center">Total Users</th>
                                    <th class="text-center">Total Attempts</th>
                                    <th class="text-center">Total Attempts Perday</th>
                                    <th class="text-center">Total Lifeline Used</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Model.QPLAnalytics.OverallQPLStats)
                                {
                                    <tr>
                                        <td class="text-center">@row.Date</td>
                                        <td class="text-center">@row.GamedayId</td>
                                        <td class="text-center">@row.Total_Registrants</td>
                                        <td class="text-center">@row.Attempts_Played</td>
                                        <td class="text-center">@row.Attempts_Played_Perday</td>
                                        <td class="text-center">@row.Lifeline_Used_Count</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            }

        </div>
    </div>
</form>

